:root {
  --gap-for-flex: 1em;
  --padding-sb: 0.7em;
  --padding-bc: 0.3em;
  /* --margin-bc: -0.2em; */
  --top-right-bc: -0.8em;
  --min-width-bc: 1.5em;
}

.game-interface {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-for-flex);
  width: 100%;
  height: 100%;
}

.status-bar {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(155, 60, 112, 0.692);
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1.2em;
  padding-bottom: 5px;
  font-size: clamp(0.8em, 2.5vw, 1.2em);
}

.status-bar span {
  color: white;
}

.points-timer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: calc(var(--gap-for-flex) / 2);
}

.ach-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  color: #ffeb3b;
  max-height: fit-content;
  margin: 0;
  padding: 0;
  flex-shrink: 1;
}

.ach-div h4 {
  margin-block-start: 0%;
  margin-block-end: 0%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(0.9em, 2.5vw, 1.5em);
}

.ach-div p {
  text-align: center;
  align-items: center;
  line-height: 1.3;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: inherit;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: clamp(0.7em, 2.5vw, 1.5em);
}

.achievements-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: calc(var(--gap-for-flex) / 2.5);
}

/* .blinking-text {
  position: absolute;
  bottom: 6em;
  width: fit-content;
  color: black;
  padding: 0.5em;
  background-color: rgb(255, 115, 0);
  border: 0.1em solid black;
  cursor: pointer;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
} */

.blinking-text {
  position: absolute;
  bottom: 6em;
  /* Заменяем fit-content на явные размеры или flex */
  width: auto;
  min-width: max-content;

  color: black;
  padding: 0.5em;
  background-color: rgb(255, 115, 0);
  border: 0.1em solid black;
  cursor: pointer;

  /* Включаем GPU-ускорение */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;

  /* Альтернативная анимация для Safari */
  animation: blink 1s infinite alternate;
  -webkit-animation: blink 1s infinite alternate;
}

@keyframes blink {
  0%,
  100% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}

/* Обязательно дублируем для Safari */
@-webkit-keyframes blink {
  0%,
  100% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-for-flex);
}

.btn-counter {
  position: absolute;
  padding: var(--padding-bc);
  /* margin: var(--margin-bc); */
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: var(--top-right-bc);
  right: var(--top-right-bc);
  font-size: 0.3em;
  color: yellow;
  -webkit-text-fill-color: yellow;
  /* background-color: transparent; */
  border-radius: 50%;
  min-width: var(--min-width-bc);
  pointer-events: none;
}

.controls-btn-container {
  position: absolute;
  display: flex;
  gap: var(--gap-for-flex);
  justify-content: center;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: calc(var(--padding-sb) / 2);
}

.controls-btn-container button {
  position: relative;
  color: yellow !important;
  -webkit-text-fill-color: yellow;
}

@media (min-width: 350px) {
  .controls-btn-container {
    font-size: 2.6em;
  }
  /* .ach-div {
    font-size: 14px;
  } */

  /* .ach-div p {
    font-size: .9em;
  } */

  .controls-btn-container button {
    background-color: rgba(255, 255, 255, 0);
    border: 0.1em solid rgba(128, 98, 0, 0);
    padding: 0;
  }
}

@media (min-width: 450px) {
  /* .ach-div {
    font-size: 0.8em;
  } */
}

@media (min-width: 500px) {
  /* .ach-div {
    font-size: 1em;
  } */
}

@media (min-width: 768px) {
  .ach-div p,
  .ach-div h4 {
    line-clamp: inherit;
    -webkit-line-clamp: 1; /* Только 1 строка на мобильных */
  }
}
@media (min-width: 900px) {
  .status-bar {
    justify-content: center;
    gap: 5vw;
  }

  .controls-btn-container {
    left: 50%;
    right: 50%;
  }
}

@media (min-width: 1500px) {
  .status-bar {
    justify-content: center;
    gap: 10vw;
    font-size: 1.4em;
    padding-top: 0.5em;
  }

  .points-timer, .achievements-container {
    gap: calc(var(--gap-for-flex) / 4.5);;
  }
  .ach-div h4 {
    font-size: 1em;
  }

  .ach-div p {
    font-size: 0.8em;
  }

  .controls-btn-container {
    left: 50%;
    right: 50%;
  }
}
