:root {
  --gap-for-flex: 1rem;
  --gap-for-flex-900px: 3vh;
  --padding-sb: 0.7em;
  --padding-bc: 0.3em;
  /* --margin-bc: -0.2em; */
  --top-right-bc: -0.8em;
  --min-width-bc: 1.5em;
}

.game-interface {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-for-flex);
  width: 100%;
  height: 100%;
}

.status-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(155, 60, 112, 0.692);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.2em;
  padding-bottom: 5px;
  font-size: clamp(0.8em, 2.5vw, 1.2em);
}

.status-bar .score-span {
  color: yellow;
}

.status-bar span {
  color: white;
}

.points-timer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: start; */
  gap: calc(var(--gap-for-flex) / 2);
}

.status-bar-row-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.status-bar-row-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2px;
}

.status-bar-row-top .moves,
.status-bar-row-top .points-game,
.status-bar-row-bottom .timer,
.status-bar-row-bottom .achievements-span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
}

.notif-div-bottom {
  display: flex;
  max-width: fit-content;
  /* flex-shrink: 0; */
  overflow: hidden;
  /* border: 1px solid blue; */
}

.info-ach {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: fit-content;
  /* flex-shrink: 0; */
  overflow: hidden;
  /* border: 1px solid black; */
}

.status-bar .span-highest-score {
  color: #caec08;
}

.status-bar-row-top .ach-div-h4 {
  color: #caec08;
}

.status-bar .span-notif-shuffled-cards {
  color: blue;
}

.notif-div-bottom {
  max-width: fit-content;
  /* flex-shrink: 0; */
  overflow: hidden;
}

.hint-notif-p {
  /* color: #ffeb3b; */
  color: black;
}

.achievements-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: end; */
  gap: calc(var(--gap-for-flex) / 2.5);
}

.ach-info-span-title-description {
  color: green;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: fit-content;
}

.ach-info-span-yellow {
  color: yellow !important;
}

.ach-info-span-black {
  color: black !important;
}

.span-animate-for-ach {
  position: absolute;
  color: yellow !important;
  font-size: 2em !important;
}

/* .blinking-text {
  position: absolute;
  bottom: 6em;
  width: fit-content;
  color: black;
  padding: 0.5em;
  background-color: rgb(255, 115, 0);
  border: 0.1em solid black;
  cursor: pointer;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
} */

/* .blinking-text {
  position: absolute;
  bottom: 6em; */
/* Заменяем fit-content на явные размеры или flex */
/* width: auto;
  min-width: max-content;

  color: black;
  padding: 0.5em;
  background-color: rgb(255, 115, 0);
  border: 0.1em solid black;
  cursor: pointer; */

/* Включаем GPU-ускорение */
/* transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden; */

/* Альтернативная анимация для Safari */
/* animation: blink 1s infinite alternate;
  -webkit-animation: blink 1s infinite alternate;
} */

/* @keyframes blink {
  0%,
  100% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
} */

/* Обязательно дублируем для Safari */
/* @-webkit-keyframes blink {
  0%,
  100% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
} */

.blinking-text {
  position: absolute;
  bottom: 12rem;
  width: auto;
  color: red;
  /* border: 0.1em solid black; */
  border: 0.1em solid yellow;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  animation: blink 1.5s ease-in-out infinite;
  will-change: opacity;
  z-index: 1000;
}

@keyframes blink {
  /* 50% {
    opacity: 0;
  } */
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.notification-toast {
  /* background-color: blue;
  position: absolute;
  bottom: 10vw; */

  display: flex;
  flex-direction: row;
  color: yellow;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  /* bottom: 10vw; */
  bottom: 15%;
  left: 50%;
  /* transform: translate(-50%, -30%); */
  transform: translateX(-50%);
  font-weight: bold;
  pointer-events: none;
  z-index: 1000;
  white-space: nowrap;
  /* opacity: 0; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
  max-width: fit-content;
  line-height: normal;
  padding: 0;
  margin: 0;
}

.span-notif-hint-cards,
.span-notif-hint-stock {
  /* position: absolute; */
  /* bottom: 12rem; */
  width: auto;
  /* color: red; */
  color: yellow;

  /* border: 0.1em solid black; */
  border: 0.1em solid yellow;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(0, 0, 0);
}

.animation-win-coins-score-earned {
  display: flex;
  flex-direction: row;
  color: yellow;
  position: absolute;
  bottom: 10vw;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  /* transform: translateX(-50%); */
  font-weight: bold;
  pointer-events: none;
  z-index: 1000;
  white-space: nowrap;
  opacity: 0;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-for-flex);
}

.btn-counter {
  position: absolute;
  padding: var(--padding-bc);
  /* margin: var(--margin-bc); */
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: var(--top-right-bc);
  right: var(--top-right-bc);
  font-size: 0.3em;
  color: yellow;
  -webkit-text-fill-color: yellow;
  /* background-color: transparent; */
  border-radius: 50%;
  min-width: var(--min-width-bc);
  pointer-events: none;
}

.controls-btn-container {
  position: absolute;
  display: flex;
  /* gap: var(--gap-for-flex); */
  justify-content: center;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: calc(var(--padding-sb) / 2);

  font-size: calc(var(--card-width) / 1.5);
  gap: calc(var(--card-width) / 1.5);
}

.controls-btn-container button {
  position: relative;
  color: yellow !important;
  -webkit-text-fill-color: yellow;
}

.restart-game-modal {
  position: fixed;
  /* background-color: #caec08; */
  background-color: white;
  padding: 1rem;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  border-radius: var(--modal-border-radius);
  /* border: 1rem solid rgba(128, 98, 0); */
  /* border: var(--modal-border); */
  border: 0.2rem solid red;
}

.restart-game-modal-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: black;
  /* line-height: 1; */
}

.restart-game-modal-close {
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-align: center;
}

.restart-game-modal-close-span {
  font-size: 2rem;
  cursor: pointer;
}

.restart-game-modal-content {
  color: #000;
  border-radius: calc(var(--modal-border-radius) / 2);
  /* background-color: rgb(190, 61, 61); */
  /* background-color: white; */
  /* background-color: rgb(211, 189, 189); */
  padding: var(--padding-table-350);
  width: 100%;
}

.game-restart-modal-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;
}

.restart-game-modal-header,
.restart-game-modal-content {
  font-size: 1rem;
}

.game-results-modal {
  position: fixed;
  /* background-color: #caec08; */
  background-color: white;
  padding: 1rem;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  border-radius: var(--modal-border-radius);
  /* border: 0.5rem solid rgba(128, 98, 0); */
  /* border: var(--modal-border); */
  border: 0.2rem solid red;
}

.game-results-modal-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: black;
}

.game-results-modal-close {
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-align: center;
}

.game-results-modal-close-span {
  font-size: 2rem;
  cursor: pointer;
}

.game-results-modal-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: var(--padding-table-350);
  font-size: var(--font-size-s-350px);
  border-collapse: separate; /*Важно! Должно быть 'separate' (по умолчанию)*/
  border-spacing: calc(var(--gap-for-pstate) * 4) 0; /* Горизонтальное, затем вертикальное */
  /* background-color: rgb(190, 61, 61); */
  background-color: white;
  /* border-radius: var(--modal-border-radius); */
  border-radius: calc(var(--modal-border-radius) / 2);
}

.game-results-modal-wrap-line {
  border-bottom: 1px solid #c5b310;
  margin-bottom: 1rem;
  display: flex; /* или другие стили для расположения */
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  font-size: 1rem;

  white-space: nowrap;
}

.game-results-modal-left-td {
  justify-self: start; /* Выравнивание по левому краю */
  /* min-width: 150px; Фиксированная ширина для терминов */
  /* color: black; */
  line-height: 0.9;
  /* color: rgb(0, 196, 0); */
  color: black;
}

.game-results-modal-right-td {
  justify-self: end; /* Выравнивание по правому краю */
  text-align: right;
  /* word-break: break-word; Перенос длинных слов */
  overflow-wrap: anywhere;
  /* color: yellow; */
  color: red;
  line-height: 0.9;
}

.game-results-modal-table .game-results-modal-wrap-line {
  margin-bottom: 0;
}

@media (min-width: 350px) {
  /* .controls-btn-container {
    font-size: 2.6em;
  } */

  /* .controls-btn-container {
    gap: 1rem;
  } */

  .controls-btn-container button {
    background-color: rgba(255, 255, 255, 0);
    border: 0.1em solid rgba(128, 98, 0, 0);
    padding: 0;
  }

  .span-notif-hint-cards,
  .span-notif-hint-stock {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  /* .controls-btn-container {
    gap: 6vw;
    font-size: 8vw;
  } */

  .restart-game-modal-close-span {
    font-size: 2rem;
  }
}

@media (min-width: 500px) {
  /* .notif-div {
    font-size: 1em;
  } */
}

@media (max-width: 480px) and (max-height: 450px) {
  /* .controls-btn-container {
    font-size: 1.5em;
  } */
}

/* @media (max-width: 480px) and (min-height: 450px) and (max-height: 725px) {
  .controls-btn-container {
    font-size: 2em;
  }
} */

@media (max-height: 500px) {
  .status-bar {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .notif-div div,
  .notif-div h4 {
    line-clamp: inherit;
    -webkit-line-clamp: 1; /* Только 1 строка на мобильных */
    font-size: 1.2rem;
  }
}
@media (min-width: 900px) {
  .status-bar {
    /* justify-content: center; */
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 0.5vw;
  }

  .controls-btn-container {
    left: 50%;
    right: 50%;
    /* gap: 3rem; */
  }
}

@media (min-width: 1500px) {
  .game-interface {
    gap: var(--gap-for-flex);
  }

  .status-bar {
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 1.2em;
    padding-top: 0.1em;
  }

  .points-timer,
  .achievements-container {
    gap: calc(var(--gap-for-flex) / 10);
  }
  .notif-div h4 {
    font-size: 0.8em;
  }

  .notif-div div {
    font-size: 0.7em;
  }

  .controls-btn-container {
    left: 50%;
    right: 50%;
  }

  .restart-game-modal-header,
  .restart-game-modal-content {
    font-size: 2rem;
  }

  .game-restart-modal-cancel-btn,
  .game-restart-modal-again-btn {
    font-size: 1.5rem;
  }
}
