:root {
  --font-size-menu-btn-350px: 1.7em;
  --font-size-menu-h1-350px: 3.5em;
}

.menu {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #076324, #0a8a2f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

.menu_btns {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.menu h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.menu button {
  margin: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  min-width: 200px;
}

.hidden {
  display: none !important;
}

#ingame-menu {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

@media (min-width: 350px) {
  .menu button {
    font-size: var(--font-size-menu-btn-350px);
    padding: 0.7em;
    min-width: 70vw;
  }

  .menu h1 {
    font-size: var(--font-size-menu-h1-350px);
  }
}

@media (min-width: 450px) {
  .menu button {
    min-width: 60vw;
  }
}

@media (max-height: 440px) {
  .menu_btns {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-height: 425px) and (max-width: 400px) {
  .menu h1 {
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    font-size: 2rem;
  }
  .menu button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem !important;
    min-width: 200px !important;
    min-height: 10vh !important;
    margin: 0.2rem;
  }
  .menu_btns {
    gap: 0.3vh !important;
  }
}

@media (max-height: 580px) {
  .menu_btns {
    gap: 0.5vh;
  }
  .menu h1 {
    margin-bottom: 1vh;
  }
  .menu button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    min-width: 200px !important;
    min-height: 10vh !important;
    margin: 0.2rem;
  }
}

@media (min-width: 650px) {
  .menu button {
    min-width: 50vw;
  }
}

@media (min-width: 750px) {
  .menu button {
    min-width: 40vw;
  }
}

@media (min-width: 900px) {
  .menu button {
    min-width: 30vw;
  }
}

@media (min-width: 1000px) {
  .menu button {
    min-width: 30vw;
  }
}

@media (min-width: 1200px) {
  .menu button {
    min-width: 20vw;
  }
}

@media (min-width: 1500px) {
  .menu button {
    min-width: 15vw;
  }
}
