:root {
  --gap-for-pstate: 1em;
  --padding-top-p-state: 1em;
  --gap-for-pstate-head: 1em;
  --padding-psate-head: 0.5em;
  --btn-pstate-left-bottom: 1em;
  --font-size-ps-350px: 1.3em;
  --padding-table: 1em;
  --p-state-table-width-1200: calc(100vw / 2);
  --p-state-table-width-1500: calc(100vw / 4);
}

.player-state {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* gap: var(--gap-for-pstate); */
  background-color: rgb(73, 73, 189);
  width: 100%;
  height: 100%;
  /* padding-top: var(--padding-top-p-state); */
}

.player-state button {
  position: absolute;
  bottom: var(--btn-pstate-left-bottom);
  left: var(--btn-pstate-left-bottom);
}

.player-state-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-for-pstate-head);
  width: 100%;
  color: black;
  background-color: rgb(155, 60, 112);
  padding: var(--padding-psate-head);
}

.player-state-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.p-state-table {
  display: grid;
  grid-template-columns: auto 1fr; /* Левая колонка по ширине контента */
  gap: 12px 20px;
  width: 100%;
  padding: var(--padding-table);
  /* max-width: 600px; Ограничиваем ширину */
  /* padding: 0 calc(var(--padding-table) - var(--gap-for-pstate)); */
  /* align-items: center; */
  font-size: var(--font-size-s-350px);
  border-collapse: separate; /*Важно! Должно быть 'separate' (по умолчанию)*/
  border-spacing: calc(var(--gap-for-pstate) * 4) 0; /* Горизонтальное, затем вертикальное */
  background-color: brown;
}

.right-td {
  justify-self: end; /* Выравнивание по правому краю */
  text-align: right;
  word-break: break-word; /* Перенос длинных слов */
  overflow-wrap: anywhere;
  color: yellow;
}

.left-td {
  justify-self: start; /* Выравнивание по левому краю */
  min-width: 150px; /* Фиксированная ширина для терминов */
  color: black;
}

.sub-item {
  font-size: 0.9em;
  color: #666;
  margin-left: 20px;
}

.dt-dd-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 350px) {
  .player-state button {
    font-size: var(--font-size-ps-350px);
  }
}

@media (min-width: 600px) {
  .p-state-table {
    width: 60%;
  }
}

@media (min-width: 900px) {
  .player-state button {
    /* font-size: var(--font-size-s-350px); */
    /* bottom: var(--btn-settings-left-bottom); */
    left: calc(
      var(--p-state-table-width-1200) / 2 + var(--btn-pstate-left-bottom)
    );
  }

  .p-state-table {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .player-state button {
    left: calc(
      var(--p-state-table-width-1200) / 1.8 + var(--btn-pstate-left-bottom)
    );
  }
}

@media (min-width: 1500px) {
  .player-state button {
    left: calc(
      100vw / 2 - (var(--p-state-table-width-1500) / 2) +
        var(--btn-pstate-left-bottom)
    );
  }
}
