:root {
  --gap-for-pstate: 1em;
  --padding-top-p-state: 1em;
  --gap-for-pstate-head: 1em;
  --padding-psate-head: 0.5em;
  --btn-pstate-left-bottom: 2vw;
  --font-size-ps-350px: 1.3em;
  --font-size-table-900px: 1.4em;
  --padding-table: 1em;
  --padding-table-350: 2vw;
  --padding-table-750px: 5vw;
  --p-state-table-width-1200: calc(100vw / 2);
  --p-state-table-width-1500: calc(100vw / 4);
  --padding-player-state-content-left-right: 2vw;
  --padding-player-state-content-left-right-750: 10vw;
  --padding-player-state-content-left-right-900: 15vw;
  --padding-player-state-content-left-right-1200: 20vw;
  --padding-player-state-content-left-right-1500: 30vw;
}

.player-state {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* gap: var(--gap-for-pstate); */
  /* background-color: rgb(73, 73, 189); */
  background-color: rgb(112, 112, 168);
  width: 100%;
  height: 100%;
  /* padding-top: var(--padding-top-p-state); */
}

.player-state button {
  position: absolute;
  bottom: var(--btn-pstate-left-bottom);
  left: var(--btn-pstate-left-bottom);
}

.player-state-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-for-pstate-head);
  width: 100%;
  /* color: black; */
  color: yellow;
  background-color: rgb(155, 60, 112);
  padding: var(--padding-psate-head);
}

.player-state-div {
  width: 100vw;
  height: 100vh;
}

.player-state-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* padding-left: var(--padding-player-state-content-left-right);
  padding-right: var(--padding-player-state-content-left-right); */
}

.p-state-table {
  /* display: grid; */
  /* grid-template-columns: auto 1fr; Левая колонка по ширине контента */
  /* gap: 12px 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: var(--font-size-s-350px);
  border-collapse: separate; /*Важно! Должно быть 'separate' (по умолчанию)*/
  border-spacing: calc(var(--gap-for-pstate) * 4) 0; /* Горизонтальное, затем вертикальное */
  background-color: brown;
  border-top: 1px solid #c5b310;
}

/* .p-state-table dt,
.p-state-table dd {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 8px;
} */

.wrap-line {
  border-bottom: 1px solid #c5b310;
  display: flex; /* или другие стили для расположения */
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  padding: 0.5rem;
}

.right-td {
  justify-self: end; /* Выравнивание по правому краю */
  text-align: right;
  word-break: break-word; /* Перенос длинных слов */
  overflow-wrap: anywhere;
  color: yellow;
  line-height: 0.9;
}

.left-td {
  justify-self: start; /* Выравнивание по левому краю */
  min-width: 150px; /* Фиксированная ширина для терминов */
  /* color: black; */
  line-height: 0.9;
  color: rgb(0, 196, 0);
}

.wrap-line-wins {
  margin-bottom: 0.5rem;
}

.p-state-table .wrap-line:last-child {
  margin-bottom: 0;
}

.wrap-line:nth-child(even) {
  background-color: rgb(112, 112, 168);
  background-size: 100%;
}

.sub-item {
  font-size: 0.9em;
  color: #666;
  margin-left: 20px;
}

.dt-dd-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 350px) {
  .p-state-table {
    font-size: var(--font-size-s-350px-2);
  }
  .player-state button {
    font-size: var(--font-size-ps-350px);
  }
}

@media (min-width: 750px) {
  .player-state-content {
    padding-left: var(--padding-player-state-content-left-right-750);
    padding-right: var(--padding-player-state-content-left-right-750);
  }

  .player-state button {
    left: var(--padding-player-state-content-left-right-750);
  }
}

@media (min-width: 900px) {
  .player-state-content {
    padding-left: var(--padding-player-state-content-left-right-900);
    padding-right: var(--padding-player-state-content-left-right-900);
  }
  .player-state button {
    left: var(--padding-player-state-content-left-right-900);
  }
  .p-state-table {
    font-size: var(--font-size-table-900px);
  }
}

@media (min-width: 1200px) {
  .player-state-content {
    padding-left: var(--padding-player-state-content-left-right-1200);
    padding-right: var(--padding-player-state-content-left-right-1200);
  }
  .player-state button {
    left: var(--padding-player-state-content-left-right-1200);
  }
}

@media (min-width: 1500px) {
  .player-state-content {
    padding-left: var(--padding-player-state-content-left-right-1500);
    padding-right: var(--padding-player-state-content-left-right-1500);
  }
  .player-state button {
    left: var(--padding-player-state-content-left-right-1500);
  }
}
