:root {
  --back-color-settings-el: rgba(255, 255, 0, 0.308);
  --gap-vol-control: 1em;
  --height-range: 1em;
  --height-width-circle: 2em;
  --border-r-slider: 2em;
  --padding-top-settings: 1em;
  --gap-for-flex-settings: 1em;
  --padding-setting-head: 0.5em;
  --btn-settings-left-bottom: 1em;
  --font-size-s-350px: 1.3em;
  --font-size-s-350px-2: 1.1em;
  --btn-settings-left-bottom-1200: 50%;
  --setting-item-width-1200: calc(100vw / 2);
  --setting-item-width-1500: calc(100vw / 4);
  --settings-padding-left-right: clamp(1rem, 2vw, 2rem); /* Replace vw */
  --settings-padding-left-right-650px: clamp(4rem, 15vw, 8rem); /* Replace vw */
  --settings-padding-left-right-900px: clamp(
    6rem,
    20vw,
    10rem
  ); /* Replace vw */
  --settings-padding-left-right-1200px: clamp(
    8rem,
    30vw,
    14rem
  ); /* Replace vw */
}

.settings {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: chocolate;
  /* padding-top: var(--padding-top-settings); */
}

/* .settings button {
  position: absolute;
  bottom: var(--btn-settings-left-bottom);
  left: var(--settings-padding-left-right);
} */

.setting-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-for-flex-settings);
  width: 100%;

  background-color: rgb(155, 60, 112);
  padding: var(--padding-setting-head);
}

.setting-title {
  /* color: black; */
  color: yellow;
}

.setting-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  border: 1px solid #c5b310;
  border-bottom: 0;
}

.settings-back-btn {
  /* width: max-content; */
  width: 50px;
  height: 50px;
  line-height: 1;
  padding: 0;
  text-align: center;
  color: yellow !important;
  background-color: transparent;
  -webkit-text-fill-color: yellow;
  border: 1px outset black;
  min-width: calc(var(--card-width) / 2);
  min-height: calc(var(--card-width) / 2);
  line-height: 1;
  padding: 0;
  text-align: center;
  font-size: calc(var(--card-width) / 2);
}

.c-setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-vol-control);
  width: 100%;
}

.c-setting-item label {
  border: 0 solid;
  background: var(--back-color-settings-el);
}

/* ..................................................... */
/* ....................................................... */
.setting-off-in-music,
.setting-off-in-vol,
.setting-assistance-in-collection,
.setting-assistance-in-card-click {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-vol-control);
  width: 100%;
}

.container-setting-item {
  /* padding-left: var(--settings-padding-left-right);
  padding-right: var(--settings-padding-left-right); */
  /* padding: var(--settings-padding-left-right); */
  padding: calc(var(--card-width) / 10);
  border-bottom: 1px solid #c5b310;
}

.container-setting-item:nth-child(even) {
  background-color: rgb(211, 127, 67);
}

.setting-label {
  position: relative;
  /* display: inline-block; */
  min-width: 60px;
  height: 34px;
  background: var(--back-color-settings-el);
  border: 0 solid;
  border-radius: var(--border-r-slider);
}

.span-music-off-in,
.span-sound-off-in,
.span-assistance-in-collection,
.span-assistance-in-card-click {
  border: 0 solid;
  background: var(--back-color-settings-el);
}

.setting-label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: var(--border-r-slider);
}

.slider::before {
  position: absolute;
  content: "";
  height: 38px;
  width: 38px;
  left: -2px;
  bottom: -2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider::before {
  transform: translateX(32px);
}

/* Дополнительно: стиль для "вдавленного" состояния */
input:active + .slider::before {
  width: 30px;
  margin-left: -2px;
}

/* ............................ */
.volume-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-vol-control);
  width: 100%;
}

.volume-control label {
  border: 0 solid;
  background: var(--back-color-settings-el);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: var(--height-range);
  background: linear-gradient(
    to right,
    #4caf50 var(--fill-percent, 50%),
    #ddd var(--fill-percent, 50%)
  );
  border-radius: 4px;
  outline: none;
}

/* Стиль для бегунка */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--height-width-circle);
  height: var(--height-width-circle);
  background: #4caf50;
  border-radius: calc(var(--height-width-circle) / 2);
  cursor: pointer;
}

/* Для Firefox */
input[type="range"]::-moz-range-thumb {
  width: var(--height-width-circle);
  height: var(--height-width-circle);
  background: #4caf50;
  border-radius: calc(var(--height-width-circle) / 2);
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  height: 8px;
  background: transparent;
}

.active-dealing-cards-btn {
  background-color: var(--btn-active);
  transform: translateY(var(--translateY-btn));
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.dealing-cards-btns {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.dealing-cards-btns button {
  width: 40px;
}

.dealing-cards-modal {
  position: fixed;
  /* background-color: #caec08; */
  background-color: white;

  padding: 1rem;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  border-radius: var(--modal-border-radius);
  border: 0.2rem solid red;
}

.dealing-cards-modal-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: black;
}

.dealing-cards-modal-close {
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-align: center;
}

.dealing-cards-modal-close-span {
  font-size: 2rem;
  cursor: pointer;
}

.dealing-cards-modal-title {
  display: flex;
  flex-direction: column;
}

.dealing_cards_modal_title_bottom {
  white-space: nowrap;

  font-size: 0.8rem;
}

.dealing-cards-modal-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;
}

/* .dealing-cards-modal-btns button {
  display: block;
} */

.dealing-cards-modal-content {
  /* border: 0.2em solid green; */
  /* border-radius: 0.2em; */
  /* border-radius: calc(var(--modal-border-radius) / 2); */
  /* background-color: #caec08; */
  background-color: black;
}

.dealing-cards-modal-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: var(--padding-table-350);
  font-size: var(--font-size-s-350px);
  border-collapse: separate; /*Важно! Должно быть 'separate' (по умолчанию)*/
  border-spacing: calc(var(--gap-for-pstate) * 4) 0; /* Горизонтальное, затем вертикальное */
  /* background-color: rgb(190, 61, 61); */
  background-color: white;
  /* border-radius: var(--modal-border-radius); */
  /* border-radius: calc(var(--modal-border-radius) / 2); */
  border-radius: var(--modal-border-radius);
}

.dealing-cards-modal-wrap-line {
  border-bottom: 1px solid #c5b310;
  margin-bottom: 1rem;
  display: flex; /* или другие стили для расположения */
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  font-size: 1rem;

  white-space: nowrap;
}

.dealing-cards-modal-left-td {
  justify-self: start; /* Выравнивание по левому краю */
  /* min-width: 150px; Фиксированная ширина для терминов */
  /* color: black; */
  line-height: 0.9;
  /* color: rgb(0, 196, 0); */
  color: black;
}

.dealing-cards-modal-right-td {
  justify-self: end; /* Выравнивание по правому краю */
  text-align: right;
  /* word-break: break-word; Перенос длинных слов */
  overflow-wrap: anywhere;
  /* color: yellow; */
  color: red;
  line-height: 0.9;
}

.dealing-cards-modal-table .dealing-cards-modal-wrap-line:last-child {
  margin-bottom: 0;
}

.assistance-in-collection-div,
.assistance-in-card-click-div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 0.5rem;
}

.span-assistance-in-collection,
.span-assistance-in-card-click {
  display: flex;
  justify-content: center;
  align-items: center;

  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}

.setting-assistance-in-collection-p,
.setting-assistance-in-card-click-p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: black;
}

.selected {
  appearance: none;
  background-color: #ffffff;
  padding: 10px 35px 10px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.selected:hover {
  background-color: #f5f5f5;
}

/* Base mobile (320px+) - default styles already set */

@media (min-width: 500px) {
  .setting-item {
    font-size: var(--font-size-s-350px-2);
  }

  .settings-back-btn {
    font-size: var(--font-size-s-350px);
  }

  .dealing-cards-modal {
    min-width: min-content;
  }

  .dealing-cards-modal-wrap-line {
    font-size: 0.8rem;
  }

  .dealing-cards-modal-dont-show-again-btn,
  .dealing-cards-modal-its_clear-btn {
    font-size: 0.8rem;
  }
}

@media (max-height: 350px) {
  .setting-item {
    font-size: calc(var(--font-size-s-350px-2) / 1.2);
  }

  .settings-back-btn {
    font-size: var(--font-size-s-350px);
  }

  .setting-title {
    font-size: 5vh;
  }
  .settings-back-btn {
    width: 40px;
    height: 30px;
  }

  .setting-label {
    height: 23px;
  }

  .slider::before {
    height: 27px;
    width: 27px;
    left: -2px;
    bottom: -2px;
  }

  input:checked + .slider::before {
    transform: translateX(38px);
  }

  /* Дополнительно: стиль для "вдавленного" состояния */
  /* input:active + .slider::before {
    width: 30px;
    margin-left: -2px;
  } */
}

@media (min-width: 768px) {
  .dealing-cards-modal-wrap-line {
    font-size: 1rem;
  }

  .dealing-cards-modal-dont-show-again-btn,
  .dealing-cards-modal-its_clear-btn {
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .setting-item {
    font-size: var(--font-size-s-350px);
  }

  .settings-back-btn {
    font-size: var(--font-size-s-350px);
  }
}

@media (min-width: 1600px) {
  .setting-item {
    font-size: var(--font-size-s-350px);
  }

  .settings-back-btn {
    font-size: var(--font-size-s-350px);
  }

  .dealing-cards-modal-wrap-line {
    font-size: 1.5rem;
  }

  .dealing-cards-modal-title {
    font-size: 2rem;
  }

  .dealing-cards-modal-dont-show-again-btn,
  .dealing-cards-modal-its_clear-btn {
    font-size: 1.5rem;
  }
}
